:root{
--main-color:#212121;
--second-color:#757575;
--hover-color:#2196F3;
}
body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:var(--main-color);
}
button{
    cursor: pointer;
}
.pagination a, .logo:visited{
color:var(--main-color);
}
.contact-header a, .adress a,.portfolio-pcolor{ /* set color for elements with gray font */
color:var(--second-color);
}
.header-link:hover, .header-link:focus, .adress a:hover, .adress a:focus{ /*  color for a in header, footer and for part of logo  */
color:var(--hover-color);
}
.logo-white{
color:#fff;
}
.header-link{
font-weight: 500;
font-size:14px;
line-height:1.14; ;
text-decoration:none;
}
.logo{
color:var(--main-color);
font-family: Raleway;
font-style: normal;
font-weight:700;
font-size:26px;
line-height: 1.2;
text-decoration: none;
}

.footer {
    background-color: #2F303A;
}
.adress a{
font-size: 14px;
line-height:1.7; 
text-decoration: none;   
}
.adress>.first-adress{
 color:#fff;   
}
.hero-title{
color:#FFFFFF;
font-weight:900;
font-size:44px;
line-height:1.36;
text-transform: uppercase;
}
.hero-section{
background-color: #2F303A
}
.hero-button{
background-color:var(--hover-color);
color:#fff;
}
.features-content h3{
font-weight: 700;
font-size: 14px;
line-height:1.14;
text-transform: uppercase;
}
.features-content p{
color:var(--second-color);
font-size:14px;
line-height:1.71;
}
.features-title{
font-weight: 700;
font-size: 36;
line-height:1.16 ; 
}
.team-title{
font-weight: 700;
font-size: 36;
line-height: 1.16;
}
.team-content h3{
font-weight: 500;
line-height:1.18;
text-align: center;
}
.team-content p{
color:var(--second-color);
line-height: 1.18;
text-align: center;
}
/* end of index.html css */
